@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #2A113E;
  color: #A68BBC;
}

@layer utilities {
  /* @variants responsive { */
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
